apiVersion: v1
kind: ConfigMap
metadata:
  name: global-config
  namespace: {{ .Release.Namespace }}
data:
  monitoring_config: |
    rightsizing:
        enabled: {{ .Values.rightsizing.enabled }}
        deployments:
        - app.kubernetes.io/name: pod-rightsizing
        - app.kubernetes.io/name: kube-state-metrics
        - app.kubernetes.io/name: grafana
        - app.kubernetes.io/name: cert-manager
        - app.kubernetes.io/name: cainjector
        - app.kubernetes.io/component: webhook
        statefulsets:
        - app.kubernetes.io/name: pod-rightsizing
        - app.kubernetes.io/name: grafana
    storage:
        enabled: {{ .Values.disk.enabled }} # Has a problem with component names being calculated in the chart and will break on change
        deployments:
        - app.kubernetes.io/name: "kompass-storage"
        statefulsets: []
    victoria_metrics_agent:
      enabled: {{ .Values.victoriaMetricsAgent.enabled }}
      deployments:
      - app.kubernetes.io/name: victoriaMetricsAgent
      statefulsets: []
    victoria_metrics_alert:
      enabled: {{ .Values.victoriaMetricsAlert.enabled }}
      deployments:
      - app.kubernetes.io/name: victoriaMetricsAlert
      statefulsets: []
    victoria_metrics:
      enabled: {{ .Values.victoriaMetrics.enabled }}
      deployments: []
      statefulsets:
      - app.kubernetes.io/name: victoriaMetrics
    victoria_metrics_cluster_vminsert:
      enabled: {{ .Values.victoriaMetricsCluster.enabled }}
      deployments:
      - app.kubernetes.io/name: victoriaMetricsCluster
        app: vminsert
      statefulsets: []
    victoria_metrics_cluster_vmselect:
      enabled: {{ .Values.victoriaMetricsCluster.enabled }}
      deployments:
      - app.kubernetes.io/name: victoriaMetricsCluster
        app: vmselect
      statefulsets: []
    victoria_metrics_cluster_vmstorage:
      enabled: {{ .Values.victoriaMetricsCluster.enabled }}
      deployments: []
      statefulsets:
      - app.kubernetes.io/name: victoriaMetricsCluster
        app: vmstorage
    kube_state_metrics:
        enabled: {{ .Values.kubeStateMetrics.enabled }}
        {{- if .Values.kubeStateMetrics.enabled }}
        deployments:
        - {{ include "kompass.kube-state-metrics.selectorLabels" . | trim | nindent 10 }}
        {{- else }}
        deployments: []
        {{- end }}
        statefulsets: []
    grafana:
        enabled: {{ .Values.grafana.enabled }}
        deployments: []
        statefulsets:
        - app.kubernetes.io/name: {{ .Values.grafana.nameOverride | default "grafana" | quote }}
  kompass_chart_version: "{{ .Chart.Version }}"
