{{- if .Values.victoriaMetrics.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: kompass-vmagent-config
  namespace: {{ .Release.Namespace }}
data:
  scrape.yml: |
    scrape_configs:
      # For container CPU and memory metrics
      - job_name: 'kubelet'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        scheme: https
        tls_config:
          insecure_skip_verify: true
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        authorization:
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - source_labels: [__meta_kubernetes_node_name]
            target_label: node
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: '(container_memory_usage_bytes|container_memory_working_set_bytes|container_cpu_usage_seconds_total|container_cpu_cfs_throttled_seconds_total)'
            action: keep

      - job_name: 'kubelet-resource'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        scheme: https
        tls_config:
          insecure_skip_verify: true
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        authorization:
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - source_labels: [__meta_kubernetes_node_name]
            target_label: node
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/$1/proxy/metrics/resource
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: (.+)
            target_label: __name__
            replacement: kubelet_resource_$1
          - source_labels: [__name__]
            regex: '(kubelet_resource_container_cpu_usage_seconds_total|kubelet_resource_container_memory_working_set_bytes|kubelet_resource_node_cpu_usage_seconds_total|kubelet_resource_node_memory_working_set_bytes)'
            action: keep

      - job_name: 'kubelet-volume'
        scrape_interval: {{ include "kompass.scrapeIntervalVolume" . }}
        scheme: https
        tls_config:
          insecure_skip_verify: true
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        authorization:
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - source_labels: [__meta_kubernetes_node_name]
            target_label: node
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/$1/proxy/metrics
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: (kubelet_volume_stats_capacity_bytes|kubelet_volume_stats_used_bytes)
            action: keep
          - source_labels: [namespace]
            regex: "{{ .Release.Namespace }}"
            action: keep


      # for collecting Pilot metrics
      - job_name: 'pilot'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['http://{{- include "rightsizing.recommendationsMaker.name" . -}}.{{ .Release.Namespace }}:{{ .Values.rightsizing.recommendationsMaker.port }}']
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: '(kompass_.*)'
            action: keep

      # for collecting insights metrics
      - job_name: 'kompass-insights'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['http://{{ (index .Values "kompass-insights").insights.service }}.{{ .Release.Namespace }}:{{ (index .Values "kompass-insights").insights.metrics.port }}']
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: '(kompass_.*)'
            action: keep

      {{- if .Values.victoriaMetrics.enabled }}
      # for collecting VM metrics
      - job_name: 'vmetrics'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['{{ .Values.victoriaMetrics.server.fullnameOverride }}.{{ .Release.Namespace }}:8428']
      {{- end }}

      {{- if .Values.victoriaMetricsCluster.enabled }}
      - job_name: 'vmselect'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['http://{{ .Values.victoriaMetricsCluster.vmselect.fullnameOverride }}.{{ .Release.Namespace }}:8481']
      - job_name: 'vminsert'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['http://{{ .Values.victoriaMetricsCluster.vminsert.fullnameOverride }}.{{ .Release.Namespace }}:8480']
      - job_name: 'vmstorage'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['http://{{ .Values.victoriaMetricsCluster.vmstorage.fullnameOverride }}.{{ .Release.Namespace }}:8482']
      {{- end }}

      {{- if .Values.victoriaMetricsAuth.enabled }}
      # for collecting VM metrics
      - job_name: 'vmauth'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['{{ .Values.victoriaMetricsAuth.fullnameOverride }}.{{ .Release.Namespace }}:8427']
      {{- end }}

      {{- if (index .Values "kompass-insights").recommendations.enabled }}
      # for collecting recommendations
      - job_name: 'recommendations'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets: ['http://{{ include "zesty-k8s.recommendations.fullname" (dict "Values" (index .Values "kompass-insights") "Release" .Release "Chart" (dict "Name" "kompass-insights")) }}.{{ .Release.Namespace }}:{{ (index .Values "kompass-insights").recommendations.http.port }}']
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: '(workload_headroom_reduction_recommendation_min_replicas)'
            action: keep
      {{- end }}

      # For pod and node metrics
      - job_name: 'kube-state-metrics'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        kubernetes_sd_configs:
          - role: service
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            regex: {{ include "kompass.kube-state-metrics.serviceName" . }}
            action: keep
          {{- /* For backward compatibility, add namespace config, only if the namespace was provided */}}
          {{- if (include "kompass.kube-state-metrics.serviceNamespace" . ) }}
          - source_labels: [__meta_kubernetes_namespace]
            regex: {{ include "kompass.kube-state-metrics.serviceNamespace" . }}
            action: keep
          {{- end }}
        metric_relabel_configs:
          - source_labels: [__name__]
            regex: '(kube_pod_info|kube_pod_container_info|kube_pod_owner|kube_replicaset_owner|kube_job_owner|kube_pod_container_resource_requests|kube_pod_container_resource_limits|kube_pod_container_status_restarts_total|kube_pod_container_status_last_terminated_reason|kube_pod_container_status_terminated_reason|kube_horizontalpodautoscaler_spec_target_metric|kube_horizontalpodautoscaler_spec_min_replicas|kube_horizontalpodautoscaler_info|kube_horizontalpodautoscaler_status_current_replicas|kube_namespace_status_phase|kube_deployment_metadata_generation|kube_statefulset_metadata_generation|kube_job_metadata_generation|kube_cronjob_metadata_generation|kube_daemonset_metadata_generation)'
            action: keep

      #  vmagent's own metrics
      - job_name: 'vmagent'
        scrape_interval: {{ include "kompass.scrapeInterval" . }}
        static_configs:
          - targets:
              - 'localhost:8429'
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kompass-vm-custom-recording-rules
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kompass.labels" . | nindent 4 }}
data:
  custom-rules.yaml: |
{{ .Files.Get "files/custom-vm-recording-rules.yaml" | indent 4 }}
{{- end -}}
