{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kompass-pod-placement.fullname" . }}
  labels:
    {{- include "kompass-pod-placement.labels" . | nindent 4 }}
rules:
  # Pod operations. Patch and Update are required to update the pod's labels and annotations.
  - apiGroups:
    - ""
    resources:
    - pods
    verbs:
    - delete
    - get
    - list
    - patch
    - update
    - watch

  # Pod eviction
  - apiGroups:
    - ""
    resources:
    - pods/eviction
    verbs:
    - create

  # Node operations. Patch and Update are required to update the node's labels and annotations.
  - apiGroups:
    - ""
    resources:
    - nodes
    verbs: 
    - get
    - list
    - watch
    - patch
    - update

  # Core operations.
  - apiGroups:
    - ""
    resources:
    - namespaces             # Required by scheduler
    - persistentvolumes      # Required by scheduler
    - persistentvolumeclaims # Required by scheduler
    - services               # Required by scheduler
    - replicationcontrollers # Required by scheduler
    verbs:
      - get
      - list
      - watch

  # Apps operations.
  - apiGroups:
      - "apps"
    resources:
      - replicasets  # Required by scheduler
      - statefulsets # Required by scheduler
    verbs:
      - get
      - list
      - watch

  # PodDisruptionBudget operations. To read PDBs, identify unevictable pods and perform eviction.
  # Required for classification, eviction and by scheduler.
  - apiGroups:
    - "policy"
    resources:
    - poddisruptionbudgets
    verbs:
    - get
    - list
    - watch

  # Storage operations. To read CSI nodes, storage classes, and volume attachments.
  # Required by scheduler.
  - apiGroups:
      - "storage.k8s.io"
    resources:
      - csinodes
      - csidrivers
      - csistoragecapacities
      - storageclasses
      - volumeattachments
    verbs:
      - get
      - list
      - watch

  # Dynamic Resource Allocation (DRA) operations. To read resource claims, slices, and device classes.
  # Required by scheduler.
  - apiGroups:
      - "resource.k8s.io"
    resources:
      - resourceclaims
      - resourceslices
      - deviceclasses
    verbs:
      - get
      - list
      - watch

  # Karpenter v1alpha5 operations. To read Provisions.
  # Required for classification.
  - apiGroups:
      - "karpenter.sh"
    resources:
      - provisioners
    verbs:
      - get
      - list
      - watch

  # Karpenter v1 operations. To read NodePools.
  # Required for classification.
  - apiGroups:
    - "karpenter.sh"
    resources:
    - nodepools
    verbs:
    - get
    - list
    - watch

{{- end }}
