# -- Global values that are applied across multiple components of the Kompass chart.
# These values often use YAML anchors (&anchorName) to define a value once and reuse it (*anchorName) elsewhere.
global:
  # -- (string) Overrides the name of the VictoriaMetrics VM Auth service.
  # This value is referenced by the YAML anchor '&vmName'.
  # IMPORTANT: If you change this value, you MUST also update 'victoriaMetricsRemoteUrl'
  # and 'victoriaMetricsRemoteWriteUrl' below to reflect the new service name.
  victoriaMetricsNameOverride: &vmName kompass-victoria-metrics-auth
  # -- (string) The internal cluster URL for VictoriaMetrics query access via VMAuth.
  # This value is referenced by the YAML anchor '&vmRemoteUrl'.
  # VMAuth will route to either VM Single or VM Cluster based on victoriaMetricsAuth.useSingle.
  # It typically depends on 'victoriaMetricsNameOverride'.
  victoriaMetricsRemoteUrl: &vmRemoteUrl http://kompass-victoria-metrics-auth:8427
  # -- (string) The internal cluster URL for VictoriaMetrics remote write endpoint via VMAuth.
  # This value is referenced by the YAML anchor '&vmRemoteWritePrometheusUrl'.
  # VMAuth will route to either VM Single or VM Cluster based on victoriaMetricsAuth.useSingle.
  # It typically depends on 'victoriaMetricsNameOverride'.
  victoriaMetricsRemotePrometheusWriteUrl: &vmRemoteWritePrometheusUrl http://kompass-victoria-metrics-auth:8427/api/v1/write
  # -- (string) The default storage class name for persistent volumes.
  # Set to a specific storage class name or leave as null (~) to use cluster default.
  # This value is referenced by the YAML anchor '&storageClassName'.
  storageClassName: &storageClassName ~
  # -- (string) The name for zesty's self-signed certificate issuer
  clusterIssuerName: kompass-selfsigned-issuer
  # -- (bool)
  useHelmPriorityHooks: true
  # -- (map) global node selector for Kompass components
  nodeSelector: {}
  # -- (array) global tolerations for Kompass components
  tolerations: []
  # -- (map) global cxLogging for Kompass components
  cxLogging:
    # -- (bool) Enable or disable sending CX logs to Zesty.
    enabled: false
    # -- (string) REQUIRED if cxLogging.enabled is true: A descriptive name for your cluster.
    # This name will appear in the Zesty platform associated with the logs.
    # Resolves to `CX_CLUSTER_NAME` environment variable.
    clusterName: ""
    # -- (string) REQUIRED if cxLogging.enabled is true: The API Key for CX logging.
    # Provided during the onboarding process specifically for CX logging.
    # Resolves to `CX_API_KEY` environment variable.
    apiKey: ""
    # -- (string) The domain of the Coralogix ingress endpoint.
    # Used by OTEL collector (Kompass Compute) to send logs to Coralogix.
    # Resolves to `CORALOGIX_DOMAIN` environment variable.
    domain: eu2.coralogix.com
    # -- (string) The URL endpoint for sending logs to Coralogix.
    # Used by Rightsizing (Coralogix SDK) to send logs to Coralogix.
    # Resolves to `CORALOGIX_LOG_URL` environment variable.
    logUrl: https://ingress.eu2.coralogix.com:443/api/v1/logs
    # -- (string) The URL endpoint for time synchronization with Coralogix.
    # Used by Rightsizing (Coralogix SDK) to send logs to Coralogix.
    # Resolves to `CORALOGIX_TIME_DELTA_URL` environment variable.
    timeDeltaUrl: https://ingress.eu2.coralogix.com:443/sdk/v1/time
    # -- (string) The URL endpoint to send metrics to Coralogix
    # Used by Rightsizing (Coralogix SDK) to metrics logs to Coralogix.
    # Resolves to `CORALOGIX_METRICS_URL` environment variable.
    # Probably to be replaced by `global.ingressUrl`
    metricsUrl: https://ingress.eu2.coralogix.com:443
    # -- (string) The URL endpoint for Coralogix ingress.
    # Used by Kompass Insights to send logs (and traces) to Coralogix.
    # Resolves to `CORALOGIX_INGRESS_URL` environment variable.
    ingressUrl: https://ingress.eu2.coralogix.com/
    # -- (string) ingressLogsUrl: The URL endpoint for Coralogix ingress logs.
    # Used by Vector to send logs to Coralogix.
    # Resolves to `CORALOGIX_INGRESS_LOGS_URL` environment variable.
    ingressLogsUrl: https://ingress.eu2.coralogix.com/logs/v1/singles
    # -- (string) The URL endpoint for Coralogix OpenTelemetry.
    # Deprecated in favor of `global.cxLogging.ingressUrl`.
    # When set, it will take precedence over `global.cxLogging.ingressUrl`!
    # Resolves to `CORALOGIX_OTEL_ENDPOINT` environment variable,
    # and `CORALOGIX_INGRESS_URL` environment variable.
    # otelEndpoint: ingress.eu2.coralogix.com:443
  # -- (string) global configmap name
  globalConfigName: global-config

validator:
  image:
    registry: 672188301118.dkr.ecr.eu-west-1.amazonaws.com/docker-hub/bitnami
    repository: kubectl
    tag: latest

kompass-insights:
  # -- (string) REQUIRED: Your Zesty organization ID.
  # Provided during the onboarding process. This value MUST be set.
  orgID: ""
  # -- (string) REQUIRED: Your Zesty encrypted credentials.
  # Provided during the onboarding process. This value MUST be set.
  encryptedCredentials: ""

  admission:
    # -- (bool) Enable or disable the Zesty Kompass mutating webhook for admission control.
    # Required for certain features such as Spot Management.
    enabled: false

  awsCluster:
    # -- (bool) Override for deprecated functionality related to specific AWS cluster handling.
    # Consult Zesty documentation before enabling this option. Generally should remain false.
    enabled: false

  persistence:
    spec:
      # -- (string) Specify the StorageClass to use for PersistentVolumeClaims.
      # If set to null (~), the cluster's default StorageClass will be used (if one exists).
      # Example: "gp2", "standard", "managed-premium"
      storageClassName: *storageClassName

  assumeRole:
    # -- (bool) Configuration for using AWS IAM Role.
    # Consult Zesty documentation before disabling this option. Generally should remain true.
    enabled: true
    # -- (string) REQUIRED if assumeRole.enabled is true: The ARN of the AWS IAM role to assume.
    # Provided during the onboarding process. Example: "arn:aws:iam::123456789012:role/ZestyIntegrationRole"
    roleArn: ~
    # -- (string) REQUIRED if assumeRole.enabled is true: The External ID configured for the IAM role.
    # Provided during the onboarding process to prevent confused deputy problems.
    zestyExternalID: ~

  # -- (map) Configuration for sending CX logs.
  cxLogging:
    # -- (bool) Enable or disable sending CX logs to Zesty.
    enabled: false
    # -- (string) REQUIRED if cxLogging.enabled is true: A descriptive name for your cluster.
    # This name will appear in the Zesty platform associated with the logs.
    clusterName: ""
    # -- (string) REQUIRED if cxLogging.enabled is true: The API Key for CX logging.
    # Provided during the onboarding process specifically for CX logging.
    apiKey: ""
    # -- (string) domain: The domain of the Coralogix ingress endpoint.
    # -- (string) logUrl: The URL endpoint for sending logs to Coralogix.
    # -- (string) timeDeltaUrl: The URL endpoint for time synchronization with Coralogix.
    # -- (string) ingressLogsUrl: The URL endpoint for Coralogix ingress logs.
    # -- (string) ingressUrl: The URL endpoint for Coralogix ingress.

rightsizing:
  # -- (bool) Enable or disable the Zesty rightsizing feature components.
  enabled: false
  # -- (map) Configuration for sending CX logs.
  cxLogging:
    # -- (bool) Enable or disable sending CX logs to Zesty.
    enabled: false
    # -- (string) REQUIRED if cxLogging.enabled is true: A descriptive name for your cluster.
    # This name will appear in the Zesty platform associated with the logs.
    clusterName: ""
    # -- (string) REQUIRED if cxLogging.enabled is true: The API Key for CX logging.
    # Provided during the onboarding process specifically for CX logging.
    apiKey: ""
    # -- (string) logUrl: The URL endpoint for sending logs to Coralogix.
    # -- (string) timeDeltaUrl: The URL endpoint for time synchronization with Coralogix.

disk:
  # -- (bool) Enable or disable the Zesty disk optimization feature components.
  enabled: false

  agentManager:
    # -- (string) REQUIRED if disk.enabled is true: The Zesty API Key for disk agent management.
    # Provided during the onboarding process.
    apiKey: ""

victoriaMetrics:
  enabled: true
  serviceAccount:
    name: kompass-victoria-metrics
  server:
    fullnameOverride: kompass-victoria-metrics
    persistentVolume:
      mountPath: /victoria-metrics-data
      size: "30Gi"
      storageClassName: *storageClassName
    resources:
      requests:
        memory: "3Gi"
        cpu: "0.5"
    extraArgs:
      retentionPeriod: 1w
      storageDataPath: /victoria-metrics-data
      search.maxStalenessInterval: 5m
      search.minStalenessInterval: 30s
      search.maxQueryDuration: 2m
      search.disableCache: true
      memory.allowedPercent: 60
      dedup.minScrapeInterval: 30s
      enableTCP6: true

victoriaMetricsCluster:
  enabled: false
  serviceAccount:
    name: kompass-victoria-metrics-cluster
  vmselect:
    fullnameOverride: kompass-victoria-metrics-cluster-vmselect
    extraArgs:
      replicationFactor: 2
      search.maxStalenessInterval: 5m
      search.minStalenessInterval: 30s
      search.maxQueryDuration: 2m
      search.disableCache: true
      memory.allowedPercent: 60
      dedup.minScrapeInterval: 30s
      enableTCP6: true
    podDisruptionBudget:
      enabled: true
      minAvailable: 1
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - vmstorage
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetricsCluster
            topologyKey: topology.kubernetes.io/zone
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - vmselect
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetricsCluster
            topologyKey: kubernetes.io/hostname
    replicaCount: 2
    resources:
      requests:
        memory: "512Mi"
        cpu: "0.5"
  vminsert:
    fullnameOverride: kompass-victoria-metrics-cluster-vminsert
    extraArgs:
      replicationFactor: 2
      memory.allowedPercent: 60
      enableTCP6: true
    podDisruptionBudget:
      enabled: true
      minAvailable: 1
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - vmstorage
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetricsCluster
            topologyKey: topology.kubernetes.io/zone
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - vminsert
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetricsCluster
            topologyKey: kubernetes.io/hostname
    replicaCount: 2
    resources:
      requests:
        memory: "512Mi"
        cpu: "0.5"
  vmstorage:
    fullnameOverride: kompass-victoria-metrics-cluster-vmstorage
    extraArgs:
      retentionPeriod: 1w
      memory.allowedPercent: 60
      dedup.minScrapeInterval: 30s
      enableTCP6: true
    persistentVolume:
      storageClassName: *storageClassName
      size: 30Gi
    podDisruptionBudget:
      enabled: true
      minAvailable: 1
    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - vmstorage
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetricsCluster
            topologyKey: topology.kubernetes.io/zone
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - vmstorage
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetricsCluster
            topologyKey: kubernetes.io/hostname
    replicaCount: 2
    resources:
      requests:
        memory: "3Gi"
        cpu: "0.5"

victoriaMetricsMigration:
  enabled: false
  image:
    registry: victoriametrics
    repository: vmctl
    tag: latest

victoriaMetricsAgent:
  enabled: true
  fullnameOverride: kompass-victoria-metrics-agent
  scrapeInterval: 30s
  scrapeIntervalLong: 1m
  scrapeIntervalVolume: 600s
  serviceAccount:
    name: kompass-victoria-metrics-agent
  service:
    type: ClusterIP
  configMap: kompass-vmagent-config
  extraArgs:
    promscrape.configCheckInterval: 1m
    promscrape.maxScrapeSize: 128MB
    enableTCP6: true
  remoteWrite:
    - url: *vmRemoteWritePrometheusUrl

victoriaMetricsAlert:
  enabled: true
  fullnameOverride: kompass-victoria-metrics-alert
  server:
    datasource:
      url: *vmRemoteUrl
    remote:
      write:
        url: *vmRemoteUrl
      read:
        url: *vmRemoteUrl
    extraArgs:
      configCheckInterval: 1m
      rule:
        - /config/*.yaml
      evaluationInterval: 30s
      enableTCP6: true
    configMap: kompass-vm-custom-recording-rules

victoriaMetricsAuth:
  enabled: true
  # Set to `true` to use VM Single, set to `false` to use VM Cluster.
  useSingle: true
  fullnameOverride: *vmName
  secretName: kompass-vmauth-config
  extraArgs:
    configCheckInterval: 1m
    enableTCP6: true
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  affinity:
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - vmstorage
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetricsCluster
            topologyKey: topology.kubernetes.io/zone
        - weight: 50
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - victoriaMetrics
            topologyKey: topology.kubernetes.io/zone
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - victoriaMetricsAuth
          topologyKey: kubernetes.io/hostname
  replicaCount: 2
  deployment:
    spec:
      strategy:
        type: RollingUpdate
  resources:
    requests:
      memory: "128Mi"
      cpu: "0.1"

kubeStateMetrics:
  enabled: true
  force: false
  serviceName: ""
  serviceNamespace: ""
  nameOverride: kube-state-metrics
  fullnameOverride: kompass-kube-state-metrics
  extraArgs:
    - --metric-annotations-allowlist=pods=[*]

grafana:
  enabled: false
  fullnameOverride: "kompass-grafana"
  deployDataSource: true
  deployDashboard: true
  persistence:
    enabled: true
    type: "statefulset"
    size: 1Gi
    storageClassName: *storageClassName
  # Use ConfigMaps for datasources and dashboards
  sidecar:
    datasources:
      enabled: true
      label: grafana_datasource
    dashboards:
      enabled: true
      label: grafana_dashboard
  adminUser: admin
  adminPassword: password

cert-manager:
  enabled: true
  crds:
    enabled: true
  fullnameOverride: "kompass-cert-manager"

  # Add post-upgrade hook to make sure we are not getting into a race condition
  startupapicheck:
    jobAnnotations:
      helm.sh/hook: post-install,post-upgrade
    rbac:
      annotations:
        helm.sh/hook: post-install,post-upgrade
    serviceAccount:
      annotations:
        helm.sh/hook: post-install,post-upgrade