# -- Global values that are applied across multiple components of the Kompass chart.
# These values often use YAML anchors (&anchorName) to define a value once and reuse it (*anchorName) elsewhere.
global:
  # -- (string) Overrides the name of the VictoriaMetrics service.
  # This value is referenced by the YAML anchor '&vmName'.
  # IMPORTANT: If you change this value, you MUST also update 'victoriaMetricsRemoteUrl'
  # and 'victoriaMetricsRemoteWriteUrl' below to reflect the new service name.
  victoriaMetricsNameOverride: &vmName kompass-victoria-metrics
  # -- (string) The internal cluster URL for VictoriaMetrics query access.
  # This value is referenced by the YAML anchor '&vmRemoteUrl'.
  # It typically depends on 'victoriaMetricsNameOverride'.
  victoriaMetricsRemoteUrl: &vmRemoteUrl http://kompass-victoria-metrics:8428
  # -- (string) The internal cluster URL for VictoriaMetrics remote write endpoint.
  # This value is referenced by the YAML anchor '&vmRemoteWriteUrl'.
  # It typically depends on 'victoriaMetricsNameOverride'.
  victoriaMetricsRemoteWriteUrl: &vmRemoteWriteUrl http://kompass-victoria-metrics:8428/api/v1/write
  # -- (string) The default storage class name for persistent volumes.
  # Set to a specific storage class name or leave as null (~) to use cluster default.
  # This value is referenced by the YAML anchor '&storageClassName'.
  storageClassName: &storageClassName ~
  # -- (string) The name for zesty's self-signed certificate issuer
  clusterIssuerName: kompass-selfsigned-issuer
  # -- (bool)
  useHelmPriorityHooks: true
  # -- (map) global node selector for Kompass components
  nodeSelector: {}
  # -- (array) global tolerations for Kompass components
  tolerations: []
  # -- (map) global cxLogging for Kompass components
  cxLogging: {}
  # -- (string) global configmap name
  globalConfigName: global-config

# -- (map) Configuration for sending CX logs.
cxLogging: &cxLogging
  # -- (bool) Enable or disable sending CX logs to Zesty.
  enabled: false
  # -- (string) REQUIRED if cxLogging.enabled is true: A descriptive name for your cluster.
  # This name will appear in the Zesty platform associated with the logs.
  clusterName: ""
  # -- (string) REQUIRED if cxLogging.enabled is true: The API Key for CX logging.
  # Provided during the onboarding process specifically for CX logging.
  apiKey: ""
  # -- (string) logUrl: The URL endpoint for sending logs to Coralogix.
  # -- (string) metricsUrl: The URL endpoint for sending metrics to Coralogix.
  # -- (string) timeDeltaUrl: The URL endpoint for time synchronization with Coralogix.

validator:
  image:
    registry: 672188301118.dkr.ecr.eu-west-1.amazonaws.com/docker-hub/bitnami
    repository: kubectl
    tag: latest

kompass-insights:
  # -- (string) REQUIRED: Your Zesty organization ID.
  # Provided during the onboarding process. This value MUST be set.
  orgID: ""
  # -- (string) REQUIRED: Your Zesty encrypted credentials.
  # Provided during the onboarding process. This value MUST be set.
  encryptedCredentials: ""

  admission:
    # -- (bool) Enable or disable the Zesty Kompass mutating webhook for admission control.
    # Required for certain features such as Spot Management.
    enabled: false

  awsCluster:
    # -- (bool) Override for deprecated functionality related to specific AWS cluster handling.
    # Consult Zesty documentation before enabling this option. Generally should remain false.
    enabled: false

  persistence:
    spec:
      # -- (string) Specify the StorageClass to use for PersistentVolumeClaims.
      # If set to null (~), the cluster's default StorageClass will be used (if one exists).
      # Example: "gp2", "standard", "managed-premium"
      storageClassName: *storageClassName

  assumeRole:
    # -- (bool) Configuration for using AWS IAM Role.
    # Consult Zesty documentation before disabling this option. Generally should remain true.
    enabled: true
    # -- (string) REQUIRED if assumeRole.enabled is true: The ARN of the AWS IAM role to assume.
    # Provided during the onboarding process. Example: "arn:aws:iam::123456789012:role/ZestyIntegrationRole"
    roleArn: ~
    # -- (string) REQUIRED if assumeRole.enabled is true: The External ID configured for the IAM role.
    # Provided during the onboarding process to prevent confused deputy problems.
    zestyExternalID: ~

  cxLogging: *cxLogging

rightsizing:
  # -- (bool) Enable or disable the Zesty rightsizing feature components.
  enabled: false
  cxLogging: *cxLogging

disk:
  # -- (bool) Enable or disable the Zesty disk optimization feature components.
  enabled: false

  agentManager:
    # -- (string) REQUIRED if disk.enabled is true: The Zesty API Key for disk agent management.
    # Provided during the onboarding process.
    apiKey: ""

victoriaMetrics:
  enabled: true
  serviceAccount:
    name: *vmName
  server:
    fullnameOverride: *vmName
    persistentVolume:
      mountPath: /victoria-metrics-data
      size: "30Gi"
      storageClassName: *storageClassName
    resources:
      requests:
        memory: "3Gi"
        cpu: "0.5"
    extraArgs:
      retentionPeriod: 1w
      storageDataPath: /victoria-metrics-data
      search.maxStalenessInterval: 5m
      search.minStalenessInterval: 30s
      search.maxQueryDuration: 2m
      search.disableCache: true
      memory.allowedPercent: 60
      dedup.minScrapeInterval: 30s
      enableTCP6: true

victoriaMetricsAgent:
  fullnameOverride: kompass-victoria-metrics-agent
  scrapeInterval: 30s
  scrapeIntervalLong: 1m
  scrapeIntervalVolume: 600s
  serviceAccount:
    name: kompass-victoria-metrics-agent
  service:
    type: ClusterIP
  configMap: kompass-vmagent-config
  extraArgs:
    promscrape.maxScrapeSize: 128MB
    enableTCP6: true
  remoteWrite:
    - url: *vmRemoteWriteUrl

victoriaMetricsAlert:
  fullnameOverride: kompass-victoria-metrics-alert
  server:
    datasource:
      url: *vmRemoteUrl
    remote:
      write:
        url: *vmRemoteUrl
      read:
        url: *vmRemoteUrl
    extraArgs:
      configCheckInterval: 1m
      rule:
        - /config/*.yaml
      evaluationInterval: 30s
      enableTCP6: true
    configMap: kompass-vm-custom-recording-rules

kubeStateMetrics:
  enabled: true
  force: false
  serviceName: ""
  nameOverride: kube-state-metrics
  fullnameOverride: kompass-kube-state-metrics
  extraArgs:
    - --metric-annotations-allowlist=pods=[*]

grafana:
  enabled: false
  fullnameOverride: "kompass-grafana"
  deployDataSource: true
  deployDashboard: true
  persistence:
    enabled: true
    type: "statefulset"
    size: 1Gi
    storageClassName: *storageClassName
  # Use ConfigMaps for datasources and dashboards
  sidecar:
    datasources:
      enabled: true
      label: grafana_datasource
    dashboards:
      enabled: true
      label: grafana_dashboard
  adminUser: admin
  adminPassword: password

cert-manager:
  enabled: true
  crds:
    enabled: true
  fullnameOverride: "kompass-cert-manager"

  # Add post-upgrade hook to make sure we are not getting into a race condition
  startupapicheck:
    jobAnnotations:
      helm.sh/hook: post-install,post-upgrade
    rbac:
      annotations:
        helm.sh/hook: post-install,post-upgrade
    serviceAccount:
      annotations:
        helm.sh/hook: post-install,post-upgrade
