name: helm-lint

on:
  push:
    branches:
    - main
  pull_request:


jobs:
  lint:
    if: "!startsWith(github.event.pull_request.title, 'chore:')"
    permissions:
      contents: read
    name: Helm Lint
    runs-on: ubuntu-latest
    env:
      CHARTS: "kompass"

    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: setup helm
      uses: azure/setup-helm@v4

    - name: setup helm plugins
      run: |
        helm plugin install https://github.com/aslafy-z/helm-git --version 0.11.1 --verify=false

    - name: helm dependency update
      run: helm dependency update ./charts/kompass

    - name: detect chart changes
      run: |
        set -e
        git fetch origin main

        for chart in $CHARTS; do
          chart_path="charts/${chart}"
          chart_key="${chart//-/_}_changed"

          if git diff --quiet origin/main...HEAD -- "$chart_path"; then
            echo "No changes in $chart_path"
            echo "$chart_key=false" >> "$GITHUB_ENV"
          else
            echo "Changes detected in $chart_path"
            echo "$chart_key=true" >> "$GITHUB_ENV"
          fi
        done

    - name: validate Chart.yaml version changed in PR
      if: github.event_name == 'pull_request'
      run: |
        set -e

        for chart in $CHARTS; do
          chart_key="${chart//-/_}_changed"
          chart_path="charts/${chart}"
          chart_changed="${!chart_key}"

          if [ "$chart_changed" = "true" ]; then
            MAIN_VERSION=$(git show origin/main:$chart_path/Chart.yaml | yq '.version')
            PR_VERSION=$(yq '.version' $chart_path/Chart.yaml)

            echo "Chart: $chart"
            echo "Main version: $MAIN_VERSION"
            echo "PR version:   $PR_VERSION"

            if [ "$MAIN_VERSION" = "$PR_VERSION" ]; then
              echo "❌ Chart version has not been updated for $chart."
              exit 1
            fi

            if [ "$(printf '%s\n' "$PR_VERSION" "$MAIN_VERSION" | sort -V | head -n1)" = "$PR_VERSION" ]; then
              echo "❌ Chart version ($PR_VERSION) must be greater than main ($MAIN_VERSION) for $chart."
              exit 1
            fi

            echo "✅ Chart version bump detected for $chart."
          else
            echo "⏭️  Skipping $chart - no changes detected."
          fi
        done

    - name: helm lint
      run: |
        set -e

        for chart in $CHARTS; do
          chart_key="${chart//-/_}_changed"
          chart_path="charts/${chart}"

          if [ "${!chart_key}" = "true" ]; then
            helm lint "$chart_path"
          else
            echo "⏭️  Skipping helm lint for $chart - no changes detected."
          fi
        done
